---
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkIcon from "./icons/LinkIcon.astro";
import LinkButton from "./LinkButton.astro";

import TAGS from "../constants/tags.ts";
import TagPill from "./TagPill.astro";
import ButtonFooter from "./ButtonFooter.astro";

const PROJECTS = [
  {
    title: "2Chess",
    description: "Ajedrez local para el navegador y el dispositivo móvil.",
    link: "https://gei-duo.github.io/2chess/",
    github: "https://github.com/gei-duo/2chess",
    image: "/projects/2chess.jpg",
    tags: [TAGS.TYPESCRIPT, TAGS.REACT],
  },
  {
    title: "View&Review",
    description:
      "Aplicación web para ver las novedades cinematográficas y poder reseñar tus películas favoritas.",
    link: "https://view-and-review.onrender.com/",
    github: "https://github.com/GEI-WP/view-and-review",
    image: "/projects/view-and-review.webp",
    tags: [TAGS.DJANGO, TAGS.BOOTSTRAP],
  },
];
---

<div class="flex flex-col gap-y-8">
  {
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
      <article class="group flex md:flex-row flex-col items-center space-x-0 md:space-x-8 space-y-8 md:space-y-0 shadow-sm">
        <div class="w-full md:w-1/2 cursor-pointer">
          <a
            class="relative flex flex-col items-center gap-8 col-span-6 row-span-5 lg:hover:bg-gray-800/50 shadow-xl md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 rounded-xl sm:rounded-xl overflow-clip transition md:group-hover:-translate-y-1 duration-200 ease-in-out transform"
            href={link}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              alt={`${description} image`}
              class="w-full object-center object-cover aspect-square md:group-hover:scale-105 md:scale-110 transition duration-500"
              loading="lazy"
              src={image}
            />
          </a>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="font-bold text-yellow-100/90 text-2xl">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row gap-x-2 mb-2">
              {tags.map((tag) => (
                <li>
                  <TagPill tag={tag} />
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-400 text-pretty">{description}</div>
            <ButtonFooter>
              {github && (
                <LinkButton href={github}>
                  <GitHubIcon class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <LinkIcon class="size-4" />
                  Preview
                </LinkButton>
              )}
            </ButtonFooter>
          </div>
        </div>
      </article>
    ))
  }
</div>
